<mat-card class="checker-position" *ngIf="total > 0">
    <div class="d-flex w-100">
        <div class="w-75" style="border-right: solid 1px rgb(214, 214, 214);">
            <mat-card-actions>
                <div class="grid-auto-rows">

                    <div *ngFor="let client of clients" class="d-flex" (click)="deleteUserFromChecker(client.orderId, client.clientNameId)">

                        <button (mouseenter)="deleteUserFromCheckerOver(client.orderId + '' + client.productId)"
                            (mouseleave)="deleteUserFromCheckerLeave(client.orderId + '' + client.productId)"
                            class="mt-1 me-2 d-flex" mat-button>

                                {{"P"+client.orderId + " - " + client.clientName
                                + " - $ " + client.subtotal}}
                   
                        </button>

                        <label class="mt-2" style="visibility: hidden;" [id]="'checkerNameCleanerBtn' + client.orderId + '' + client.productId">
                            <mat-icon class="d-flex">clear</mat-icon>
                        </label>
                        
                    </div>
                </div>
            </mat-card-actions>
        </div>

        <div class="w-25 d-flex">
            <mat-card-actions class="w-50 me-5">
                <h2>{{"$ " + total}}</h2>
            </mat-card-actions>
            <mat-card-actions class="w-50 d-flex justify-content-between">
                <button mat-mini-fab class="ms-1 me-1" color="primary"
                    (click)="packageAllProductsInChecker()"><mat-icon>archive</mat-icon></button>
                <button mat-mini-fab class="ms-1 me-5" color="warn"
                    (click)="deleteAllChecker()"><mat-icon>delete</mat-icon></button>

            </mat-card-actions>

        </div>

    </div>

</mat-card>